
img{
    width: 150px;
    height: 150px;
}

.icon{
    width: 400px;
    height: 400px;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}

.icon i{
    font-size: 70px;
    cursor: pointer;
}

.box1{
    background-color: teal;
    width: 200px;
    height: 200px;
    /* visibility: hidden; */
    /* display: none;
    opacity: 0; */
}

.box2{
    background-color: magenta;
    width: 200px;
    height: 200px;
}

